
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;

}

:root {
    --tamanho-header: 80px;
    --tamanho-footer: 90px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px)
}

/* Header */
.header {
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    /* fazendo as margens laterais*/
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}

/* Header Fim */


/* Banner*/

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

/* Banner Fim */

/* Nav itens*/

.social {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 170px;
}

/* Footer*/

.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: white;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.version {
    font-size: 12px;
}

/* Footer Fim */

/*Login*/

.login .container {
    display: flex;
    color: rgb(222, 124, 140);
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
h2{
    font-size: 40px;
    margin: 5px;
}

.login .card {
    background-color: #d0d3d4;  
    padding: 3% 1%;
    border-radius: 15px;
    width: 30%;
    height: 30%;
    margin-top: 150px;
}

#email_input {
    border-radius: 10px;
    text-align: center;
    border: solid 2px;
    color: #32b9cd;
    width: 65%;
    height: 40px;
}

#senha_input {
    border-radius: 10px;
    text-align: center;
    border: solid 2px;
    color: #32b9cd;
    width: 65%;
    height: 40px;
}

.login .campo {
    padding: 10px;
}

.login .botao {
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: rgb(221, 46, 90);
    width: 15%;
    height: 30px;
    border: none;
    cursor: pointer;
    
}

span {
    display: block;
    text-align: left;
    margin-left: 18%;
    font-weight: 700;
}   

/* Fim Login */

/* Inicio cadastro */

.login .container .card-cadastro {
    height: 550px;
    margin-top: 80px;
}

#codigo_input {
    border-radius: 10px;
    text-align: center;
    border: solid 2px;
    color: #32b9cd;
    width: 65%;
    height: 40px;
}

#nome_input {
    border-radius: 10px;
    text-align: center;
    border: solid 2px;
    color: #32b9cd;
    width: 65%;
    height: 40px;       
}

#confirmacao_senha_input {
    border-radius: 10px;
    text-align: center;
    border: solid 2px;
    color: #32b9cd;
    width: 65%;
    height: 40px;
}

.login .container .botao {
    margin:4%;
}